body {
  background-image: url(https://i.pinimg.com/originals/67/b6/47/67b6477ac6df198ff8726cdd6a5bbaf2.gif);
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

#updatecounter{
  font-size: 12px;
}

footer {
  width: 100vw;
  position: absolute;
  text-align: center;
  bottom: 0px;
  color: white;
}

.colorChangingLogo {
  animation: color-change 500ms infinite;
}

@keyframes color-change {
  0%   {color: violet;}
  17%  {color: indigo;}
  33%  {color: blue;}
  49%   {color: green;}
  65%  {color: yellow;}
  81%  {color: orange;}
  100%   {color: red;}
}